
<div class="grid-blocks">
  
  <div class="grid-block">
    <div class="grid-block-content gb-loc">
    </div>
  </div>

  <div class="grid-block">
    <div class="grid-block-content">
      <div class="grid-block-info">
        <div class="grid-block-info-container">
          <h3>Location and Contact</h3>
          <p class="address">Bobaluv<br />123 Bubbly St.<br />San Francisco, CA 94105</p>
          <p class="email"><a href="#">info@bobaluv.com</a></p>
          <p class="phone">415-888-2627</p>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="grid-blocks">
  
  <div class="grid-block">
    <div class="grid-block-content">
      <div class="grid-block-info">
        <div class="grid-block-info-container">
          <h3>Hours of Operation</h3>
          <table>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <td class="day">Sun - Thurs</td>
              <td>11:00 AM</td>
              <td>-</td>
              <td>9:00 PM</td>
            </tr>
            <tr>
              <td class="day">Fri - Sat</td>
              <td>11:00 AM</td>
              <td>-</td>
              <td>10:00 PM</td>
            </tr>
          </table>
          <p>We are closed most major holidays. Please call or check our <a href="#">Facebook page</a> for more information!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-block">
    <div class="grid-block-content gb-photo">
      <!-- https://www.flickr.com/photos/aloha75/7281244558/ -->
    </div>
  </div>

</div>
